{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container" style="padding:0px">
    <div class="row" style="margin: 0 auto">
        <div class="col-xs-12">
            <img src="{% static 'img/babykoala.png' %}" class="img-responsive main" alt="koala_title">
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin: 0 auto">
        <div class="col-xs-12 blog-entry">
            <p>This is the main description for this app. Some general bla bla bla for the start page. Below you see all
            available problems. To check out problems that we already tore down click HERE. If you want to see if we
            already have something under construction, click HERE.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin: 0 auto">
    {% for problem in problems %}
        <div class="col-md-4 col-xs-12 blog-entry">

            <h2><a href="{% url 'problem_detail' pk=problem.pk %}">{{ problem.title }}</a></h2>
            <p>{{ problem.text|linebreaksbr }}</p>
            <div class="crop">
                <img src="media/{{problem.problem_img}}" class="img-responsive" alt="picture of the problem">
            </div>
            <div class="date">
                <p>published: {{ problem.published_date }}</p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

