
.main {
    overflow: hidden;
    margin: 0 auto;
}

.crop {
    margin: 0 auto;
}

.frame {
    background-color: #ed9344;
}

.frame a {
    color: white;
}

.blog {
    color: white;
    font-size: medium;
    background-color: black;
    overflow: hidden;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
}

.blog-entry {
    color: white;
    font-size: medium;
    background-color: black;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blog a {
    color: #ed9344;
}

.blog a:hover {
    color: #ed9344;
    text-decoration: underline;
}

h2 {
    color: #ed9344;
}

